@import "tailwindcss";

@layer base {
  input, select, textarea {
    font-size: max(16px, 1rem);
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .h-safe-top {
    height: env(safe-area-inset-top);
  }
}
